.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  scroll-snap-type: y mandatory;
}

/* Custom classes */
/* Videos */
.app-videos {
  /* position: relative; */
  height: 800px;
  overflow: hidden;
  width: 80%;
  max-width: 660px;
  /* scroll-snap-type: y mandatory; */
}

.video-feed {
  /* position: relative; */
  background-color: black;
  width: 100%;
  height: 75%;
  scroll-snap-align: start;
}

/* Video footer css */
.videoFooter {
  position: relative;
  color: white;
  bottom: 100px;
  margin-left: 20px;
  display: flex;
}

.videoFooter__text {
  flex: 1;
}

.videoFooter__text > p {
  padding-bottom: 10px;
}

.videoFooter__record {
  animation: spinTheRecord infinite 5s linear;
  height: 50px;
  filter: invert(1);
  position: absolute;
  bottom: 0;
  right: 0px;
}

.videoFooter__icon {
  position: relative;
}

.videoFooter__ticker > .ticker {
  height: fit-content;
  margin-left: 30px;
  width: 60%;
}

.videoFooter__text > h3 {
  padding-bottom: 20px;
}

.videoFooter__ticker h1 {
  padding-top: 7px;
}

@keyframes spinTheRecord {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Video Card Sidebar */
.videoSidebar {
  position: absolute;
  top: 50%;
  right: 5px;
  color: white;
}

.videoSidebar__button {
  padding: 10px;
  text-align: center;
}
